<div class="clock" [ngSwitch]="format">
  <div *ngSwitchCase="'digital'" class="digital">{{ time }}</div>
  <div *ngSwitchCase="'analog'" class="analog">

    <div class="face">

      <div class="center"></div>

      <div *ngFor="let n of Arr(60).fill(1); let i = index" class="tick tick-{{i}} {{ i % 5 === 0 ? 'major' : 'minor' }}">
        <div class="mark"></div>
      </div>

      <!--
      <div class="number number3">3</div>
      <div class="number number6">6</div>
      <div class="number number9">9</div>
      <div class="number number12">12</div>
      -->
    </div>

  </div>
  <div *ngSwitchDefault>Invalid Clock Format {{ format }}</div>
</div>
