.clock {

    margin: 4px;
    display: block;

    > .digital {
        display: inline-block;
        font-family: monospace;
        font-size: 2rem;
        background-color: black;
        color: green;
        border-radius: 4px;
        padding: 10px;
        border: 2px solid gray;
        box-sizing: border-box;
    }
    
    > .analog {
        $dim: 500px;
        height: #{$dim};
        width: #{$dim};
        border-radius: 50%;
        display: block;
        position: relative;
        background-color: gray;

        > .face {
            $borderWidth: 1%;
            position: absolute;
            left: #{$borderWidth};
            top: #{$borderWidth};
            right: #{$borderWidth};
            bottom: #{$borderWidth};
            border-radius: 50%;
            background-color: white;

            > .center {
                $w: 2%;
                width: #{$w};
                height: #{$w};
                position: absolute;
                left: calc((100% - #{$w}) / 2);
                top: calc((100% - #{$w}) / 2);
                background-color: black;
                border-radius: 50%;
            }

            > .tick {
                display: block;
                position: absolute;
                height: 100%;

                &.major {
                    $w: 1%;
                    width: #{$w};
                    left: calc((100% - #{$w}) / 2);

                    > .mark {
                        background-color: black;
                    }
                }

                &.minor {
                    $w: 0.5%;
                    width: #{$w};
                    left: calc((100% - #{$w}) / 2);

                    > .mark {
                        background-color: red;
                    }
                }

                $start: 0;
                $end: 59;
                @for $i from $start through $end {
                    &.tick-#{$i}{
                        transform: rotate(6deg * $i);
                    }
                }

                > .mark {
                    position: absolute;
                    background-color: black;
                    width: 100%;
                    height: 4%;
                    top: 2%;

                }
            }

            > .number {
                width: 20px;
                height: 20px;
                border: 1px solid black;
                box-sizing: border-box;
                text-align: center;
                padding: 0;
                margin: 0;
                position: absolute;
                display: block;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 20px;

                &.number3 {
                    top: calc(50% - 10px);
                    right: 0;
                }
    
                &.number6 {
                    bottom: 0;
                    left: calc(50% - 10px);
                }

                &.number9 {
                    top: calc(50% - 10px);
                    left: 0;
                }
    
                &.number12 {
                    top: 0;
                    left: calc(50% - 10px);
                }
            }
        }

        

        > .hand {
            display: block;
            width: 100px;
            height: 2px;
            background-color: black;
            position: relative;
            left: 50%;
            top: 50%;
        }
    }
}